altair==5.5.0
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.9.0
cachetools==5.5.2
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.2
click==8.0.3
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.8
distro==1.7.0
gitdb==4.0.12
GitPython==3.1.44
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
MarkupSafe==2.0.1
more-itertools==8.10.0
narwhals==1.38.0
netifaces==0.11.0
numpy==2.2.5
oauthlib==3.2.0
packaging==24.2
pandas==2.2.3
pillow==11.2.1
protobuf==6.30.2
pyarrow==20.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pydeck==0.9.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2022.1
PyYAML==6.0
requests==2.32.3
service-identity==18.1.0
six==1.16.0
smmap==5.0.2
streamlit==1.45.0
tenacity==9.1.2
toml==0.10.2
tornado==6.4.2
Twisted==22.1.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.26.5
watchdog==6.0.0
zipp==1.0.0
zope.interface==5.4.0
